
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');
html{

  margin: auto;
 
}

body{
  background-color: #121420;
  margin: auto;
  
 }

:root {
  --primarycolor:#121420 ;
  --secondarycolor : #ceb27d;

  --font-style-heading: 'Playfair Display';
  --font-style-paragraph: 'Raleway';

  --font-size-h3: 2rem;
  --font-size-paragraph-1: 1.125rem;
  --font-size-paragraph-2: 1rem; 
  --font-size--button-homepage: 1.75rem;






/* --------------------------------------- */

}




