.title {
    font-family: var(--font-style-heading);
    font-size: 3rem;
    color: var(--secondarycolor);
    margin: 0;
    font-weight: 400;
    line-height: 160.6%;
    letter-spacing: 0.1rem;
    margin-bottom: 24px;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 14px;
    height: 100vh;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;



}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
}
.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}


.button {
    background-color: var(--secondarycolor);
    border: none;
    color: var(--primarycolor);
    padding: .5rem;
    font-size: var(--font-style-paragraph);
    font-family: var(--font-style-paragraph);
    border-radius: 0.25rem;
    width: 50vw;
    height: 2.5rem;
    margin-top: 16px;
}

.backButton {
    background: transparent;
    border: none;
    margin-top: 24px;
    margin-left: 24px;
    


}

.signupbutton {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--secondarycolor);
    font-family: var(--font-style-paragraph);
    font-size: var(--font-size-paragraph-2);
}
.signupContainer p{
    color: var(--secondarycolor);
    font-family: var(--font-style-paragraph);
    font-size: var(--font-size-paragraph-2);
}

.error{
    color: #e84e4f;
    text-decoration: underline;
    padding: 8px;
    font-size: 20px ;
    width: 80vw;
    text-align: center;
    font-family: var(--font-style-paragraph);
}