.myProfileContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.cardBackground {
    background-color: var(--secondarycolor);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 12px 12px 0 0;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: flex-start;
}

.button {
    background: transparent;
    border: none;
}

.addbutton {

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

}
.editbutton {

    position: absolute;
    bottom: 0;
    right: 1rem;
    
}
.headerContainer{
    position: relative;
}

.cta{
    font-family: var(--font-style-paragraph);
    margin-top: 2rem;
}