.title {
    font-family: var(--font-style-heading);
    font-size: var(--font-size-h3);
    color: var(--secondarycolor);
    margin: 0;
    font-weight: 400;
    line-height: 160.6%;
    letter-spacing: 0.1rem;
    margin-bottom: 24px;
}


.signupbutton {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--secondarycolor);
    font-family: var(--font-style-paragraph);
    font-size: var(--font-size-paragraph-2);
}
.signupContainer p{
    color: var(--secondarycolor);
    font-family: var(--font-style-paragraph);
    font-size: var(--font-size-paragraph-2);
}

.error{
    color: #810000;
    border: 2px inset #810000;
    padding: 8px;
    font-size: 20px ;
    border-radius: 4px;
}

.popupTxt{
    font-family: var(--font-style-heading);
    font-size: var(--font-size-h3);
    color: var(--secondarycolor);
    text-align: center;
    width: 80vw;

}

.popupButtonCancel{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    font-family: var(--font-style-paragraph);
    font-size: var(--font-size-paragraph-2);
    padding: 4px;
    border: var(--secondarycolor) solid 1px;
    border-radius: 2px;
    
}
.popupButtonConfirm{
    border-radius: 2px;
    background-color: var(--secondarycolor);
    color:#810000;
    font-family: var(--font-style-paragraph);
    font-size: var(--font-size-paragraph-2);
    padding: 4px;
    border: #810000 solid 1px;

}


.popupContainer{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color:var(--primarycolor);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
}