.cardImage {
  /* Rectangle 8 */

  width: 150px;
  height: 185px;
  left: 26px;
  top: 141px;

  background: #CEB27D;
  /* bege */
  border: 1px solid #CEB27D;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  border: 2px #CEB27D solid;
  background: #CEB27D; */
}

.listCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 1; */

  border: 1px black solid;
  background: #121420;
}

.tagButton {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-style-paragraph);
  font-size: var(--font-size-paragraph-2);
  padding: .25rem .5rem;
  position: relative;

}

.showImage {
  display: flex;
  background-color: var(--primarycolor)
}


.button {
  background-color: rgb(255, 49, 49);
}


.tag {


  position: absolute;
  width: 92px;
  height: 14px;
  left: 34px;
  top: 294px;

  font-family: 'Raleway';

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #121420;


}