.tagButton {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  
  font-family: var(--font-style-paragraph);
  font-size: var(--font-size-paragraph-2);
font-weight: 600;
  padding: .25rem .5rem;
  border: none;
  margin: 3px;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s;
  filter: drop-shadow(-4px 0px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  
}


